.products-list {
  padding: 30px 57px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1280px;
}

@media only screen and (min-width: 1024px) {

  .products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    column-gap: 25px;
    row-gap: 15px;
    justify-content: flex-start;
  }
}
