.header {
  background-color: #111;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

.left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MA-logo {
  width: 40px;
  height: 40px;
  margin-right: auto;
}

.day-night {
  display: flex;
  flex-direction: row;
  padding-left: 54px;
}

.day-mode {
  width: 34px;
  height: 34px;
}

.divider {
  width: 1px;
  height: 34px;
  background-color: #656565;
  margin-inline: 14px;
}

.night-mode {
  width: 34px;
  height: 34px;
}

.cart {
  width: 24px;
  height: 24px;
}

.menu {
  width: 30px;
  height: 30px;
}

.right-menu {
  display: flex;
  gap: 14px;
  padding-right: 30px;
  margin-left: auto;
}

@media only screen and (min-width: 1024px) {

  .header {
    height: 80px;
  }

  .MA-logo {
    width: 46px;
    height: 46px;
  }

  .left-part {
    padding-left: 52px;
  }

  .menu {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 49px;
    margin-right: 124px;
  }

  .navigation-link {
    color: #FFF;
    text-decoration: none;
  }

  .buttons {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 52px;
    gap: 10px;
  }

  .logout {
    width: 24px;
    height: 24px;
  }

  .button-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 113px;
    height: 34px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    color: #FFF;
  }

  .signup {
    width: 24px;
    height: 24px;
  }

  .button-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 113px;
    height: 34px;
    border: 1px solid #656565;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    color: #656565;
  }

  .buttons img {
    margin-right: 6px;
  }
}

@media only screen and (max-width: 1024px) {

  .buttons {
    display: none;
  }

  .navigation {
    display: none;
  }

  .day-night {
    display: none;
  }

  .header-wrapper {
    padding: 0 52px;
  }
}
